@import "variables";

$estilos:(
    colorPincipal:$bg-dor,
    ColorOro:gold,
    ColorBlan:whitesmoke,
    Colorneg:$bg-neg,
    alineado:center,
    bloqueAlign: inline-block,
    colorVerde:green,
);


$fuentes:(
    TnR:'Times New Roman',
    ita: italic
);



li a {
    background-color:$bg-dor;
    margin: 2px;
}

li a:hover {
    background-color:map-get($estilos,ColorOro );
    color:black;
}

.div_form {
    display: map-get($estilos,bloqueAlign);
    padding: 30px;
    background: $bg-dor;
    margin: 10px;

}


